@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import './variables';

#app {
	font-family: $font-primary;
	font-size: $font-size-primary;
	font-weight: $font-weight-primary;
	color: $text-primary-color;
}

h1 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

a,
a:active,
a:visited {
	color:inherit;
}