.container{
	position: fixed;
	inset:0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0 0 0 / 30%);
	font-size: 33px;
	color: $text-white-color;
	z-index: 200;
}
