$offset: 20px;

.chat {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column-reverse;
	gap: 30px;
	padding: 30px $offset;
	overflow-y: scroll;

	@include dividerAfter($offset);
	@include scroll;
}

.noChat{
	flex-grow: 1;
}
