$font-primary-color:  #1E1E1E;
$font-secondary-color:  #999999;
$link-color:  #3369F3;

$button-primary-bg-color:  #3369F3;
$button-primary-text-color:  #ffffff;
$button-secondary-text-color:  #3369F3;

$input-border-color:  #7a8896;
$input-focus-border-color:  #3369F3;
$input-error-color:   #FF2F2F;