$primary-color: #3369F3;
$secondary-color: #EFEFEF;
$tertiary-color: #EAEAEA;

$text-primary-color:  #1E1E1E;
$text-secondary-color:  #999999;
$text-accent-color:  #ffffff;
$error-text-color:  #FF2F2F;
$link-text-color:  #3369F3;

$button-primary-bg-color:  #3369F3;
$button-primary-text-color:  #ffffff;
$button-secondary-text-color:  #3369F3;

$image-bg-color: #EFEFEF;
