.container {
	position: relative;
	border-radius: 50%;
	overflow: hidden;

	&__hidden {
		display: none;
	}
}

.hoverBlock {
	position: absolute;
	inset:0;
	padding: 30px;
	background-color: $overlay-bg-color;
	cursor: pointer;
	opacity: 0;
	transition: opacity .3s;

	@include centerContent;

	&:hover {
		opacity: 1;
	}
}

.hoverText {
	text-align: center;
	color: $text-white-color;
}

.userAvatar {
	display: block;
	border-radius: 0;
}
