.preview {
	position: relative;
	display: flex;
	padding: 12px 0;
	gap: 10px;
	height: 70px;
	
	overflow: hidden;
	cursor: pointer;

	&:not(:last-child) {
		@include dividerAfter;
	}
}

.image {
	flex-shrink: 0;
	width: 47px;
	height: 47px;
	border-radius: 50%;
	background-color: $image-bg-color;
}

.textContent{
	flex-grow: 1;
}

.title {
	font-size: 13px;
	font-weight: $font-weight-bold;
	
	@include lineClamp(1);
}

.lastMessage {
	margin-top: 4px;
	color: $text-secondary-color;
	
	@include lineClamp(2);
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.time {
	display: inline-flex;
	font-size: 9px;
	color: $text-secondary-color;
}

.counter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	margin-top: 5px;
	width: 20px;
	height: 20px;
	
	background-color: $primary-color;
	border-radius: 50%;

	font-size: 11px;
	color: $text-accent-color;
}
