.imageMessage {
	position: relative;

	border-radius: 12px;
	border: 2px solid $secondary-color;
	background-color: $image-bg-color;

	overflow: hidden;

	&__alignLeft {
		align-self: flex-start;
	}
	&__alignRight {
		align-self: flex-end;
	}
}

.image {
	display: block;
	max-width: 330px;
	height: auto;
}

.details {
	position: absolute;
	right: 5px;
	bottom: 10px;
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 3px;
	padding: 2px 7px;

	border-radius: 30px;
	background-color: rgba(82, 82, 82, 0.5);

	color: $text-white-color;
	font-size: 9px;
	line-height: 9px;
}

.icon {
	color: $text-white-color;
}