.showMoreIconContainer {
	width: 25px;
	height: 25px;
	cursor: pointer;

	border-radius: 50%;
	
	&__active {
		background-color: $secondary-color;
	}
}

.showMoreIcon {
	color: $text-primary-color;

	&__active {
		color: $text-accent-color;
	}
}

.popup {
	position: absolute;
	right: 0px;
	top: calc(100% + 10px);
	
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 15px;

	border-radius: 12px;
	box-shadow: $shadow;
}



.action {
	display: flex;
	align-items: center;
	gap: 15px;

	cursor: pointer;

	@include opacity();
}

.plusIconContainer {
	width: 22px;
	height: 22px;

	border: 2px solid $primary-color;
	border-radius: 50%;
}

.plusIcon {
	color: $primary-color;

	&__rotated {
		transform: rotate(45deg);
	}
}

