$left-bg-color: #FBFBFB;

$offset: 10px;

.container {
	display: grid;
	grid-template-columns: 310px 1fr;
}

.left{
	display: flex;
    flex-direction: column;
	height: 100vh;

	background-color: $left-bg-color;
}

.leftHeading {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px $offset 14px;
	background-color: $left-bg-color;
	z-index: 2;

	@include dividerAfter($offset);
}

.link,
.link:active,
.link:visited {
	padding: 10px 0;
	color: $text-secondary-color;
	text-align: right;

	@include opacity();
}