.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 340px;
	min-height: 460px;
	padding: 50px 30px 25px;
	border-radius: 12px;
	box-shadow: $shadow;
}

.header {
	margin-bottom: 40px;
	text-align: center;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.buttons {
	display: flex;
	flex-direction: column;
	margin-top: 60px;
}
