.snackBar{
	position: fixed;
	bottom: 10px;
	left: 0;
  	right: 0;
	margin: 0 auto;
	max-width: 500px;
	padding: 30px;
	border-radius: 15px;
	background-color: $error-bg-color;
	color: $text-white-color;
	font-size: 15px;
	z-index: 300;

	&__error {
		background-color: $error-bg-color;
	}

	&__success {
		background-color: $success-bg-color;
	}
}
