.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 500px;

}

.firstName {
	margin: 20px 40px;;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inputs {
	width: 100%;
	margin-bottom: 60px;
}

.submitButtom {
	width: 100%;
	max-width: 280px;
}