.overlay {
	position: fixed;
	inset:0;
	padding: 30px;
	background-color: $overlay-bg-color;
	z-index: 100;

	@include centerContent;
}

.content {
	padding: 40px 30px;
	min-width: 340px;
	border-radius: 12px;
	background-color: $whte-color;
}

.heading {
	margin-bottom: 50px;
	text-align: center;

	&__error {
		color: $error-text-color;
	}
}
