.feed{
	padding: 0 20px;
}

.heading {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 10px 0;

	@include dividerAfter();
}

.title {
 	flex-grow: 1;
	font-weight: 600;
}