.container{
	position: relative;
	display: flex;
	flex-direction: column;
}

.label {
	color: $text-secondary-color;
	font-size: 9px;
}

.input {
	height: 25px;
	border: none;
	border-bottom: 1px solid $secondary-color;
	outline: none;

	color: $text-primary-color;
	font-size: 13px;

	&:focus{
		border-bottom: 1px solid $primary-color;
	}

	&::placeholder{
		color: $text-secondary-color;
	}
}

.error {
	position: absolute;
	top: calc(100% + 3px);

	color: $error-text-color;
	font-size: 8px;
}