.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 340px;
	min-height: 460px;
	padding: 50px 30px 25px;
	border-radius: 12px;
	box-shadow: $shadow;
}

.header {
	margin-bottom: 40px;
	text-align: center;
}
