.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 13px;
	width: 100%;
	margin-bottom: 60px;
}

.submitButtom {
	width: 100%;
	max-width: 280px;
}
