.container {
	position: relative;
	gap: 10px;

	@include centerContent();

	&:not(:last-child) {
		@include dividerAfter();
	}
}

.label {
	font-size: 13px;
}

.input {
	flex-grow: 1;
	height: 33px;
	
	background: none;
	border: none;
	outline: none;
	text-align: right;
}
